:root {
    --spacer: 10px;
    --links-lolor: white;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: white;
    padding: 24px 3px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-wrapper {
    min-width: 180px;
    width: 20%;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    max-width: 600px;
}

.header-nav__link {
    color: #141515;
}

.selected::before {
    content: ">"
}

.header-top-phone {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 180px;
    width: 20%;
}

.header-top-phone__link {
    color: #000000;
    font-family: 'Rubik', sans-serif;
    padding-left: 8px;
}

.nav-link:nth-child(4) {
    margin-right: 265px;
}

main {
    background-image: url(./bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-grow: 1;
}

.main-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 31px;
}

.main-subtitle {
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-left: 144px;
    padding-top: 181px;
}

footer {
    position: relative;
    background-color: #141515;
    padding-top: calc(2 * var(--spacer));
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    color:#FFFFFF;
}

.footer-top-col {
    display: flex;
}

.footer-top-contacts {
    margin: 0 auto;
}

.footer-top-contacts-title {
    margin-bottom: var(--spacer);
    text-transform: uppercase;
    color: var(--links-lolor);
    font-weight: bold;
    font-size: 125%;
}

.footer-top-contacts-title__phone {
    margin-bottom: calc(var(--spacer) / 4);
    text-transform: uppercase;
    color: var(--links-lolor);
    font-weight: bold;
    padding: 5px;
}

.footer-top-contacts-title__mail {
    margin-top: calc(var(--spacer) / 2);
    margin-bottom: calc(var(--spacer) / 4);
    text-transform: uppercase;
    color: var(--links-lolor);
    font-weight: bold;
    padding: 5px;
}

.footer-top-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer-top-nav__link {
    color: var(--links-lolor);
    padding-bottom: calc(var(--spacer) / 2);
}

.footer-top-nav-title {
    margin-bottom: var(--spacer);
    text-transform: uppercase;
    color: var(--links-lolor);
    font-weight: bold;
    font-size: 125%;
}

.footer-top-title {
    color: var(--links-lolor);
}

.footer-nav {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--spacer) / 2);
    color:#FFFFFF;
    padding-top: calc(var(--spacer) / 1);
}

.footer-pageup {
    position: absolute;
    bottom: var(--spacer);
    right: var(--spacer);
}

@media screen and (max-width: 920px) {
    .header-nav {
    display: none;
    }  
}  

@media screen and (max-width: 680px) {
    .footer-top {
        flex-direction: column;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--spacer);
        text-align: center;
    }

    .footer-top-contacts {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer-top-nav {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer-top-col {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-bottom {
        margin-top: 10%;
    }
}